.btn, .btnR, .btnV
{
    -fx-background-color: #e63854;
    -fx-font-weight: 700;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-background-radius: 0,0,0,0;
}

.btn:hover, .btnR:hover, .btnV:hover
{
    -fx-text-fill: #e63854;
    -fx-background-color: white;
}

.btnR
{
    -fx-translate-X: 160px;
    -fx-translate-Y: 310px;
}

.btnV
{
    -fx-translate-X: 260px;
    -fx-translate-Y: 310px;
}

.menu
{
    -fx-background-color: #ececf7;
}


.texte
{
    -fx-font-family: 'Ave Fedan';
    -fx-fill: #3d4158;
    -fx-font-weight: 700;
    -fx-font-size: 25px;
}

.jeu
{
    -fx-background-color: #3d4158;
    
}

.mode
{
    -fx-background-color: #3d4158;
}

.case
{
    -fx-text-fill: #E1F5C4;
    -fx-font-size: 12px;
    -fx-font-weight: 700;
    -fx-background-color: #363636;
    -fx-background-radius: 0,0,0,0;
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-max-width: 30;
    -fx-min-width: 30;
    -fx-translate-X: 160;  
    -fx-translate-Y: 100;  
}

.case:hover
{
    -fx-background-color: #ececf7;
    -fx-text-fill: #363636;
    -fx-font-weight: 700;
}

.case-uncovered
{

    -fx-background-color: #e63854;
    -fx-text-fill: #363636;
}

.looser
{
    -fx-font-weight: 700;
    -fx-fill: #ececf7;
    -fx-text-alignment: center;
    -fx-font-size: 25px;
}

.timer
{
    -fx-font-weight: 700;
    -fx-fill: #e63854;
    -fx-font-size: 25px;
    -fx-translate-X: 175px;
    -fx-translate-Y: 12px;
}

.bmb
{
    -fx-font-weight: 700;
    -fx-fill: #e63854;
    -fx-font-size: 25px;
    -fx-translate-X: 335px;
    -fx-translate-Y: 12px;
}

.clock
{
    -fx-translate-X: 160px;
    -fx-translate-Y: 10px;
}

.bomb
{
    -fx-translate-X: 420px;
}

.border
{
    -fx-background-color: #3d4158;
}


.label_type
{
    -fx-font-weight: 700;
    -fx-fill: #e63854;
    -fx-font-size: 25px;
    -fx-translate-Y: 55px;
    -fx-translate-X: 175px;
}

.label_mode
{
    -fx-font-weight: 700;
    -fx-fill: #e63854;
    -fx-font-size: 25px;
    -fx-translate-Y: 155px;
    -fx-translate-X: 175px;
}

.combo-box2
{
    -fx-translate-X: 175px;
    -fx-translate-Y: 100px;
    -fx-min-height: 40;
    -fx-min-width: 130;
}

.combo-box1
{
    -fx-translate-X: 175px;
    -fx-translate-Y: 200px;
    -fx-min-height: 40;
    -fx-min-width: 130;
}
.combo-box .list-cell 
{
    -fx-background: #e63854;
    -fx-background-color: #e63854;
    -fx-text-fill: white;
    -fx-cell-size: 40; 
}

.combo-box-popup .list-view 
{
    -fx-background-color: #e63854, #e63854;
}    

.combo-box-popup .list-view .list-cell 
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: #e63854;
}

.combo-box-popup .list-view .list-cell:filled:hover, .combo-box-popup .list-view .list-cell:filled:selected 
{
    -fx-background-color: #CA1C38;
    -fx-text-fill: white;
}

.combo-box-base  
{
    -fx-background-color: #e63854, #e63854, #e63854, #e63854;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base > .arrow-button > .arrow 
{
    -fx-background-color: white;
}